/*
#########
# BASIC #
#########
*/

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /*Temp*/
    background-color: #000;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*
##############
# TYPOGRAPHY #
##############
*/

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}


/* 
########### 
# SIDENAV #
########### 
*/

div.sidenav {
    height: 100%;
    width: 250px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: -251px;
    background-color: #111;
    border-right: 1px solid #ffffff1a;
    transition: all 0.3s ease;
}

div.sidenav.active {
    left: 0;
}

div.sidenav>div.logo,
div.sidenav>div.nav-links {
    padding: 20px;
}

div.sidenav>div.logo>img {
    height: 50px;
    width: 100%;
    background-color: #fff;
}

div.sidenav>div.nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}

div.sidenav>div.nav-links>a {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    /*border: 1px solid #ffffff1a;*/
    border-left: 1px solid #ffffff1a;
    transition: all 0.3s ease;
}

div.sidenav>div.nav-links>a:hover {
    /*color: #000;
    background-color: #fff;*/
    padding: 6px 16px;
    border-left: 1px solid #fff;
}





/* Temp */
div.content {
    margin-left: 250px;
    transition: all 0.3s ease;
    color: white;
    padding: 20px;
}

div.content.active {
    margin-left: 0;
}


div.content>div.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.content>div.overview>div.box {
    width: calc(50% - 82px);
    height: 100%;
    min-height: 400px;   
}



div.box {
    background-color: #111;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px #000;
}