<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFlow</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style/style.css') }}">
    <script src="{{url_for('static', filename='javascript/default.js')}}"></script>
</head>

<body>
    {% include 'sidenav.html' %}
    <div class="content">
        <div class="profile">
            <h1>Profile</h1>
            <div class="box">
                <img src="{{ userinfo['picture'] }}">
                <div class="profile-info">
                    <p><strong>Name:</strong> {{ userinfo['given_name'] }} {{ userinfo['family_name'] }}</p>
                    <p><strong>Email:</strong> {{ userinfo['email'] }}</p>
                </div>
            </div>
            <div class="box">
                <p>Some more info and settings...</p>
            </div>
            <div class="box">
                <a href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
    </div>
</body>

</html>